* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

main {
    height: 100svh;
    background-color: #121212;
    color: grey;  /*will change*/
}
.container {
    display: flex;
    background-color: #212121;
    border-radius: 15px;
    width: auto;
    height: 100%;
}

.info_section {
    display: none;
}

.login_section {
    display: flex;
    width: 100%;
}

.form_form {
    height: 100%;
    position: relative;
    padding: 5em 2em 0 2em;
    width: 100%;
    align-self: center;
}

.form_footer {
    font-size: 12px;
    text-align: center;
    padding-top: 1em;
}

.form_username {
    margin-top: 5em;
    margin-bottom: 5em;
}

.form_username:focus {
    border-bottom: 2px solid #226de5;
}

.form_password:focus {
    border-bottom: 2px solid #226de5;
}

.form_submit {
    color: white;
    margin-top: 2em;
    padding: 1em 0;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
    background-color: #212121;
    padding: 1em;
    margin: 2em 0;
    color: grey;
}

button {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #226de5;
}

/* LAPTOPS */

@media only screen and (min-width: 992px) {
    .info_section {
        display: block;
        padding: 8px;
        flex: 2;
    }

    .login_section {
        flex: 1.5;
    }

    .info_text {
        text-align: center;
        background-color: #226de5;
        height: 100%;
        color: white;
        border-radius: 15px;
        padding: 4em 4em 0.5em 4em;
        display: flex;
        flex-direction: column;
    }

    .info_text h1 {
        padding: 1.5em 0;
        font-size: 32px;
    }

    .info_text footer {
        margin-top: auto;
        text-align: center;
        font-size: 12px;
    }

    main {
        padding: 5em 12em;
    }
}